name: MicroPython Test

on: [push, pull_request]

jobs:
  code-coverage:
    name: MicroPython Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Install MicroPython
      uses: BrianPugh/install-micropython@v2
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        micropython -m mip install unittest
        micropython -m mip install unittest-discover
    - name: Test MicroPython
      run: |
        micropython -m unittest discover -s tests_micropython -p "test_*.py"
