name: MicroPython Test

on: [push, pull_request]

jobs:
  code-coverage:
    name: MicroPython Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Install MicroPython
      uses: BrianPugh/install-micropython@v2
    - uses: actions/checkout@v6
    - name: Test MicroPython Installation
      run: |
        micropython tests_micropython/test.py
