name: MicroPython Test

on: [push, pull_request]

jobs:
  code-coverage:
    name: MicroPython Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Install MicroPython
      uses: BrianPugh/install-micropython@v2
    # - uses: actions/checkout@v6
    - name: Test MicroPython Installation
      run: |
        python tests_micropython/test.py
    # - name: Set up Python
    #   with:
    #     python-version: "3.13"
    #   uses: actions/setup-python@v6
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install coverage
    #     pip install gpiozero
    #     pip install python-periphery
    #     pip install RPi.GPIO
    #     pip install Mock.GPIO
    #     pip install pyserial
    #     pip install spidev
    #     pip install pyftdi
    # - name: Run unittests
    #   run: |
    #     python -m coverage run -m unittest discover
